@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

:root {
--primary-color: #3E5C76;
--secondary-color: #748CAB;
--accent1-color:  #748CAB;
--accent2-color: #0D1321;
--heading-font :'Dela Gothic One', cursive;
--paragraph-font:'Merriweather Sans', sans-serif;
--nav-background-color:#00B4D8;
--nav-link-color:#90E0EF;
--nav-hover-link-color:#03045E;
--nav-hover-background-color:#0077B6;
}

body{
font-family:var(--paragraph-font);
max-width:960px;
padding: 20px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header{
padding: 20px;
background-color: var(--accent1-color);
}

p{
    padding: 25px;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a{
      display: block;
      color: var(--nav-link-color);
      text-decoration: none;
      padding: 1rem;

}

nav a:link,nav a:visited{
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}